* {
    margin: 0;
}

body {
    background-color: #0c0c0c;
    color: #ffffff;
    font-size: 10px;
    font-family: Ubuntu, sans-serif;
}

// Estilos Header - 82

@keyframes esq-dir {
    0% {
        margin-right: 25px;
    }
    100% {
        margin-right: 0px;
    }
}

.posicao-bolinha-direita {
    float: right;
    animation: esq-dir 200ms ease;
}

@keyframes dir-esq {
    0% {
        margin-left: 25px;
    }
    100% {
        margin-left: 0px;
    }
}

@media (max-width: 360px) {
    
    @keyframes esq-dir {
        0% {
            margin-right: 20px;
        }
        100% {
            margin-right: 0px;
        }
    }

    @keyframes dir-esq {
        0% {
            margin-left: 20px;
        }
        100% {
            margin-left: 0px;
        }
    }

}

.posicao-bolinha-esquerda {
    float: left;
    animation: dir-esq 200ms ease;
}

.idioma-on-text {
    color: white;
}

.idioma-off-text {
    color: gray;
}

.idioma-on-bg {
    background-color: green;
    transition: background-color 500ms ease;
}

.idioma-off-bg {
    background-color: gray;
    transition: background-color 300ms ease;
}

// Estilos da barra de rolagem

::-webkit-scrollbar {
    width: 10px;
  }
 
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
 
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .teste-sas {

    display: grid;
    grid-template-columns: auto auto auto;

    & > * {
        padding: 15px;
        border-radius: 15px;
        margin: 50px;
    }

    .icon-js {
        background-color: #F7DF1E;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
        color: black;
        width: 100px;

        &:hover {
            box-shadow: 0px 0px 20px 10px #F7DF1E;
            cursor: pointer;
        }
    }

    .icon-react {
        background-color: #222222;
        color: #61DAFB;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0px 0px 20px 10px #222222;
            cursor: pointer;
        }
    }
    
    .icon-sass {
        background-color: #CC6699;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0px 0px 20px 10px #CC6699;
            cursor: pointer;
        }
    }

    .icon-java {
        background-color: #EA2E2F;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0px 0px 20px 10px #EA2E2F;
            cursor: pointer;
        }
    }

    .icon-spring {
        background-color: #6DB33F;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0px 0px 20px 10px #6DB33F;
            cursor: pointer;
        }
    }

    .icon-postgres {
        color: #2F6192;
        background-color: white;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;

        &:hover {
            box-shadow: 0px 0px 20px 10px white;
            cursor: pointer;
        }
    }

    



  }