/** {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

body {
    background-color: #0c0c0c;
    color: #ffffff;
    font-size: 100%;
}*/

/*.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3.125rem;
    background-color: #121212;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}*/

/*.header-nome, .header-sobrenome {
    font-size: 2rem;
    font-weight: bold;
}

.header-nome {
    
}

.header-sobrenome {
    margin-left: 10px;
    color: green;
}

.header-botoes-direita {
    display: flex;
}*/

.header-botao-projetos, .header-botao-contato {
    /*font-weight: bold;*/
    text-align: center;
    background-color: #121212;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(210, 210, 210);
    font-size: 1rem;
}

.header-botao-projetos:hover, .header-botao-contato:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.header-botao-projetos {

}

.header-botao-contato {
    margin-left: 30px;
}
/* Estilos do toogle button */

.language-switcher {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.en-label {
    margin-top: 5px;
    margin-left: 34px;
    margin-right: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.br-label {
    margin-top: 5px;
    margin-left: 8px;
    font-weight: bold;
    font-size: 1rem;
}

.toggle-btn {
    position: relative;
    z-index: 1;
    /*width: 46px;*/
    width: 2.875rem;
    /*height: 24px;*/
    height: 1.5rem;
    border-radius: 14px;
    background-color: #ccc;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-btn:focus {
    outline: none;
}

/*.toggle-btn.checked .toggle-handle {
    transform: rotate(360deg) translateX(1.375rem);
}

.toggle-btn.checked {
    background-color: green;
}*/

.toggle-handle {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 24px;
    height: 24px;*/
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s ease;
}

@media (max-width: 860px) {
    html {
        font-size: 90%;
    }
    
    .header {
        padding: 1.25rem 1.8rem;
    }
}

@media (max-width: 700px) {
    
}